$blue: rgb(62, 137, 166);
$skyblue: rgb(227, 240, 245);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $skyblue;
    height: 100vh;
    width: 100vw;

    header {
        height: 60px;
        background-color: white;
        width: 100%;

        div {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                font-weight: bold;
                color: $blue;
                font-size: xx-large;
                font-family: 'Lobster', cursive;
                letter-spacing: 2px;
                text-decoration: none;
            }

        }
    }

    main {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(227, 240, 245);

        section {
            width: 50%;
            height: 80%;
            background-color: white;
            border-radius: 20px;
            border-style: dotted;
            border-width: 4px;
            border-color: $blue;

            h1 {
                font-family: 'Quicksand', sans-serif;
                font-size: xx-large;
                color: $blue;
                text-align: center;
                padding-top: 10px;
                padding-bottom: 20px;
            }

            .globalContainer{
                width: 100%;
                display: flex;
                justify-content: center;
                padding-bottom: 20px;
            
            .logoContainer {
                background-color: skyblue;
                background-size: contain;
                border-radius: 100%;
                padding: 2px;

                img {
                    width: 120px;
                }
            }
        }

            .formContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-right: 50px;

                .div {
                    padding-bottom: 15px;

                    label {
                        font-family: 'Quicksand', sans-serif;
                        color: $blue;
                        font-weight: bold;
                        display: inline-block;
                        width: 65px;
                    }

                    input {
                        border: solid;
                        border-radius: 3px;
                        border-width: 2px;
                        border-color: $blue;
                        font-family: 'Quicksand', sans-serif;
                        width: 250px;
                    }
                }

                #buttonContainer{
                    width: 500px;
                    .inputSend {
                        width: 55px;
                        background-color: $blue;
                        color: white;
                        font-weight: bold;
                        padding: 5px;
                        color-scheme: white;
                        border: 0;
                        border-radius: 5px;

                        &:hover {
                            transform: scale(1.1);
                        }

                    }
                }

            }
            #campoVacio {
                padding-top: 30px;
                padding-left: 65px;
                color:rgb(202, 35, 35);
                font-family: 'Quicksand', sans-serif;
                font-weight: bold;
                width: 450px;
            }

            .send {
            padding-left: 260px;
            }
        }
    }

    footer {
        background-color: white;
        height: 60px;

        div {
            font-family: 'Quicksand', sans-serif;
            font-weight: bold;
            font-size: small;
            color: $blue;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 60px;
        }
    }
}